.shafa {
	width: 800px;
	border: 1px #555  solid ;
	padding: 5px;
	margin: 15px;
	float: left;
	
}

.hatka1, .hatka2, .hatka3, .hatka4{ 
	width: 350px;
	height: 615px;
	border: 2px #333 solid;
	background: #eee;
	float: left;
	padding: 5px;
	margin: 15px;
}	

img {
	width: 200px;
}
img.logo_2 {
	width: 64px;
}

.photo{
	width: 210px;
	float: left;
	
}